<form action="/restore/password" method="post">
    New Password: <input type="text" name="password"><br>
    Repeat Password: <input type="password" name="passwordRepeated"><br>

    <br>

    <input type="submit" value="Enviar"> <br>
    <a href="/session/login">Login</a>
</form>