<h1>Restaurar Password</h1>

<form action="/restore" method="post">
    Email: <input type="text" name="email"><br>
    {{!-- Password: <input type="text" name="password"><br> --}}

    <br>

    <input type="submit" value="Enviar"> <br>
    <a href="/session/register">Registrarse</a>
</form>